<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather App</title>
    <link rel ="stylesheet" href="/css/style.css" >
    

</head>
<body>

{{>header}}
    

    <p> this page is created by {{name}} </p>
    <form>
     <input placeholder="Location">
     <button> Search </button> 

    </form>
     <p id='m1'></p>
     <p id='m2'></p>
    <img src="./img/pic1.jpg">

    {{>footer}}


<script src='/js/app5.js'></script>

</body>



</html>